In [65]:
# deleting a table
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()
sql = "DROP TABLE IF EXISTS prods" #product was the table
mycursor.execute(sql)

mydb.commit()

In [66]:
# create a table for the products on mydatabase
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE prods(Id INT AUTO_INCREMENT PRIMARY KEY, Name VARCHAR(255), Category VARCHAR(255))")

In [67]:
# create a table for the products on mydatabase
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

sqlFormula = "INSERT INTO prods(Id, Name, Category) VALUES(%s,%s,%s)"
data = [(1, 'Simba', 'Chips'),
            (2, 'Lays', 'Chips'),
            (3, 'Coke','Cooldrinks'),
            (4, 'Fanta','Cooldrinks'),
            (5, 'Chocolate','Chocolate'),
            (6, 'Tex','Chocolate'),
            (7,'Pepper Steak','Pies'),
            (8, 'Chicken', 'Pies'),
            (9, 'Pear', 'Fruits'),
            (10, 'Apple','Fruits'),
            (11,'Orange', 'Fruits'),
            (12, 'Vanilla', 'Cupcakes'),
            (13, 'Chocolate', 'Cupcake'),
            (14, 'Spinach', 'Veggies'),
            (15,'Cabbage','Veggies')]

mycursor.executemany(sqlFormula, data)

mydb.commit()

In [68]:
# SPRINT 3

In [69]:
# Create new column

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE prods ADD Stock_availability INT(10) AFTER Category, ADD Selling_price INT(10) AFTER Stock_availability")

In [70]:
# Add new products

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

sqlFormula = "INSERT INTO prods(Id, Name, Category) VALUES(%s,%s,%s)"
data = [(16, 'Chicken', 'Meat'),
            (17, 'Beef', 'Meat'),
            (18, 'Pork','Meat'),
            (19, 'Corona','Alcohol'),
            (20, 'Clipdrift','Alcohol')]

mycursor.executemany(sqlFormula, data)

mydb.commit()

In [71]:
# Insert prods on new columns

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.executemany("Update prods SET Stock_availability = %s where Id = %s",[(23 , "1"),(45 , "2"),(28, "3"),(18, "4"),(58, "5"),(40, "6"),(25, "7"),(78, "8"),(39, "9"),(4, "10"),(11, "11"),(40, "12"),(18, "13"),(13, "14"),(28, "15"),(17, "16"),(38, "17"),(24, "18"),(49, "19"),(20, "20")])

mydb.commit()

In [72]:
# Insert prods on new columns

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.executemany("Update prods SET Selling_price = %s where Id = %s",[(33.00 , "1"),(59.00 , "2"),(100.00, "3"),(99.00, "4"),(78.00, "5"),(87.79, "6"),(50.00, "7"),(39.00, "8"),(69.00, "9"),(70.00, "10"),(20.00, "11"),(105.00, "12"),(23.00, "13"),(70.00, "14"),(40.00, "15"),(150.00, "16"),(70.00, "17"),(998.00, "18"),(47.00, "19"),(30.00, "20")])

mydb.commit()

In [76]:
# ORGANIZE MY DATA

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="C@pac1t!",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM prods ORDER BY Selling_price DESC" # DESC to change order

mycursor.execute(sql)

myresult = mycursor.fetchall()

for r in myresult:
    print(r)

(18, 'Pork', 'Meat', 24, 998)
(16, 'Chicken', 'Meat', 17, 150)
(12, 'Vanilla', 'Cupcakes', 40, 105)
(3, 'Coke', 'Cooldrinks', 28, 100)
(4, 'Fanta', 'Cooldrinks', 18, 99)
(6, 'Tex', 'Chocolate', 40, 88)
(5, 'Chocolate', 'Chocolate', 58, 78)
(10, 'Apple', 'Fruits', 4, 70)
(14, 'Spinach', 'Veggies', 13, 70)
(17, 'Beef', 'Meat', 38, 70)
(9, 'Pear', 'Fruits', 39, 69)
(2, 'Lays', 'Chips', 45, 59)
(7, 'Pepper Steak', 'Pies', 25, 50)
(19, 'Corona', 'Alcohol', 49, 47)
(15, 'Cabbage', 'Veggies', 28, 40)
(8, 'Chicken', 'Pies', 78, 39)
(1, 'Simba', 'Chips', 23, 33)
(20, 'Clipdrift', 'Alcohol', 20, 30)
(13, 'Chocolate', 'Cupcake', 18, 23)
(11, 'Orange', 'Fruits', 11, 20)